<div id="page-wrapper-without-sidemenu" class="container-fluid">
	<div class="row" style="padding-top: 10px;">
		<div class="col-sm-5">
			<form class="form-inline">
				<div class="form-group">
					<input type="number" class="form-control" id="exampleInputName2" placeholder="start freq" ng-model="data.captureStartFreqGHz">
					<label for="exampleInputName2">GHz&nbsp&nbsp</label>
				</div>
				<div class="form-group">
					<input type="number" class="form-control" id="exampleInputEmail2" placeholder="stop freq" ng-model="data.captureStopFreqGHz">
					<label for="exampleInputEmail2">GHz&nbsp&nbsp</label>
				</div>
			</form>
		</div>
		<div class="col-sm-1">
			<button type="button" class="btn btn-default" ng-click="capture()">Capture</button>
		</div>
		
		<input type="file" id="input-s2p-file" style="display: none;">
		<div class="col-sm-2" ng-if="data.dataFromUpload">
			<button type="button" class="btn btn-primary" onclick="document.querySelector('#input-s2p-file').click()">
				Upload s2p file
			</button>
		</div>

		<div class="col-sm-2" ng-if="!data.dataFromUpload">
			<ul class="nav nav-pills" role="tablist"> 
				<li role="presentation" class="">
					<h5></h5>
				</li>
				<li role="presentation" class="dropdown">
					<button id="instrument-list" type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="searchInstrument()">
						{{data.currentInstr.name}}&nbsp;<span class="caret"></span>
					</button>

					<div class="dropdown-menu list-group">
						<button type="button" class="list-group-item" ng-repeat="instrument in data.instrumentList track by $index" ng-click="changeCurrentInstrument(instrument)">
								<div>
									{{instrument.name}}
								</div>
						</button>
					</div>
				</li>
				<li role="presentation" class="dropdown">
				</li>
			</ul>
		</div>

		<div class="col-sm-4">
			<p id="p1-file"></p>
		</div>
	</div>

	<div class="row last-row-fullheight" style="padding-top: 10px;">
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-body" style="height: 800px; overflow: auto;">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a id="magnitudeChart" href="" ng-click="showChart('magnitude')" aria-controls="home" role="tab" data-toggle="tab">Mag(dB)</a></li>
						<li role="presentation"><a href="" ng-click="showChart('phase')" aria-controls="profile" role="tab" data-toggle="tab">Phase(deg)</a></li>
					</ul>
					<div id="graph-linear-chart1" style="display: inline-block; width: 100%; height: 42%"></div>
					<div id="graph-linear-chart2" style="display: inline-block; width: 100%; height: 42%"></div>					
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-body" style="height: 800px; overflow: auto;">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation"><a href="" ng-click="showTable('TargetMatrix', 0)" aria-controls="home" role="tab" data-toggle="tab">TargetMatrix</a></li>
						<li role="presentation"><a href="" ng-click="showTable('ExtractedMatrix', 0)" aria-controls="profile" role="tab" data-toggle="tab">ExtractedMatrix</a></li>
						<li role="presentation" class="active"><a id="deviationTable" href="" ng-click="showTable('Deviation', 0)" aria-controls="profile" role="tab" data-toggle="tab">Deviation</a></li>
					</ul>
					<br>
					<table class="table table-bordered" style="text-align: center; width: 100%;">
						<thead>
							<tr>
								<th class="label-sm" style="text-align: center;"></th>
								<th class="label-sm" style="text-align: center;" ng-repeat="r in data.matrixToShow track by $index">{{($first || $last)? (($first)? 'S' : 'L') : $index}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="r in data.matrixToShow track by $index">
								<td>{{($first || $last)? (($first)? 'S' : 'L') : $index}}</td>
								<td ng-repeat="d in r track by $index">{{(data.tableDataFormat === 0)? ((d < 1e-4 && d > -1e-4)? '0' : d.toFixed(5)) : ((d < 1e-2 && d > -1e-2)? '0' : d.toFixed(1) + '%')}}</td>
							</tr>
						</tbody>
					</table>
					<br>
					<div>
						Captured Q = {{(data.q > 1e8)? "infinite" : data.q.toFixed(1)}}
					</div>
					<br>
					<div>
						{{(data.isSymmetric)? "Note: symmetric structure selected." : ""}}
					</div>
				</div>
			</div>
		</div>

</div>
<!-- /#page-wrapper -->