        <div id="page-wrapper-without-sidemenu" class="container-fluid">

            <!-- /.row -->
            <div class="row" style="padding-top: 10px;">
						
                <div class="col-sm-2">
									<div class="container-fluid">
										<div class="row">
											<div class="panel panel-primary">
												<div class="panel-heading">
													<h5>FILTER ORDER</h5>
												</div>
												<div class="panel-body">
													<input type="number" class="form-control input-sm" placeholder="" ng-model="data.filterOrder" ng-change="filterOrderChange()" ng-model-options="{ updateOn: 'blur' }">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="panel panel-primary">
												<div class="panel-heading">
													<h5>FILTER TYPE</h5>
												</div>
												<div class="panel-body">
													<div class="radio">
														<label>
															<input type="radio" id="select-filter-type-BPF" ng-model="data.filterType" value="BPF" checked>
															Band Pass
														</label>
													</div>
													<div class="radio">
														<label>
															<input type="radio" id="select-filter-type-LPF" ng-model="data.filterType" value="LPF" checked>
															Low Pass
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
                </div>

                <div class="col-sm-3">

                    <div class="panel panel-primary">
											<div class="panel-heading">
												<h5>PARAMETERS</h5>
											</div>
											<div class="panel-body">
												<div class="row">
													<div class="col-sm-6">
													
														<div class="form-group">
															<label class="label-sm" for="center-freq">Center Freq(MHz)</label>
															<input type="number" class="form-control input-sm" id="center-freq" placeholder="" ng-model="data.centerFreq">
														</div>
														
														<div class="form-group">
															<label class="label-sm" for="bandwidth">Band Width(MHz)</label>
															<input type="number" class="form-control input-sm" id="bandwidth" placeholder="" ng-model="data.bandwidth">
														</div>
														
														<div class="form-group">
															<label class="label-sm" for="return-loss">Return Loss(dB)</label>
															<input type="number" class="form-control input-sm" id="return-loss" placeholder="" ng-model="data.returnLoss">
														</div>
														
													</div>
													
													<div class="col-sm-6">
													
														<div class="form-group">
															<label class="label-sm" for="unloaded-q">Unloaded Q</label>
															<input type="number" class="form-control input-sm" id="unloaded-q" placeholder="" ng-model="data.unloadedQ">
														</div>
														
														<div class="form-group">
															<label class="label-sm" for="temp-drift">Temperature Drift</label>
															<input type="number" class="form-control input-sm" id="temp-drift" placeholder="" ng-model="data.tempDrift">
														</div>
														
													</div>
												</div>
											</div>
                    </div>
									
                </div>
								
                <div class="col-sm-2">

                    <div class="panel panel-primary">
											<div class="panel-heading">
												<h5>ANALYSIS BAND</h5>
											</div>
											<div class="panel-body">
													
												<div class="form-group">
													<label class="label-sm" for="start-freq">Start Frequency(MHz)</label>
													<input type="number" class="form-control input-sm" id="start-freq" placeholder="" ng-model="data.startFreq">
												</div>
												
												<div class="form-group">
													<label class="label-sm" for="stop-freq">Stop Frequency(MHz)</label>
													<input type="number" class="form-control input-sm" id="stop-freq" placeholder="" ng-model="data.stopFreq">
												</div>
												
												<div class="form-group">
													<label class="label-sm" for="number-of-points">Number of Points</label>
													<input type="number" class="form-control input-sm" id="number-of-points" placeholder="" ng-model="data.numberOfPoints">
												</div>
														
											</div>
                    </div>
									
                </div>								
								
                <div class="col-sm-2">
									<div class="panel panel-primary">
										<div class="panel-heading">
											<h5>TRANSMISSION ZEROS</h5>
										</div>
										<div class="panel-body" style="max-height: 240px; overflow: auto;">
											<table class="table table-condensed">
												<thead>
													<tr>
														<th class="label-sm">Real</th>
														<th class="label-sm">Image</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="d in data.tranZeros track by $index">
														<td>
															<input type="number" class="form-control input-sm" ng-model="d[0]" ng-change="$last && (d[0] !== '') && data.tranZeros.push(['', ''])">
														</td>
														<td>
															<input type="number" class="form-control input-sm" ng-model="d[1]" ng-change="$last && (d[1] !== '') && data.tranZeros.push(['', ''])">
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
                </div>
								
                <div class="col-sm-2">
									<div class="container-fluid">
										<div class="row">
											<div class="panel panel-primary">
												<div class="panel-heading">
													<h5>MATRIX TOPOLOGY</h5>
												</div>
												<div class="panel-body">
													<!-- Button trigger modal -->
													<button type="button" class="btn btn-default" data-toggle="modal" data-target="#matrix-topology-modal">
														Edit Matrix Topology
													</button>

													<!-- Modal -->
													<div class="modal fade" id="matrix-topology-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
														<div class="modal-dialog  modal-lg" role="document">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																	<h4 class="modal-title" id="myModalLabel">Edit Matrix Topology</h4>
																</div>
																<div class="modal-body">
																	<div class="row">
																		<div class="col-md-5" id="matrix-topology-table"></div>
																		<div class="col-md-6" style="height: 300px;" id="matrix-topology-container"></div>
																	</div>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="panel panel-primary">
												<div class="panel-heading">
													<h5>CALCULATE</h5>
												</div>
												<div class="panel-body">
													<button id="button-calculate" type="button" class="btn btn-default" ng-click="calculate()">
														Calculate
													</button>
												</div>
											</div>
										</div>
									</div>
                </div>
								
            </div>
						
            <div class="row last-row-fullheight">
							<div class="col-sm-6">
								<div class="panel panel-primary">
									<div class="panel-body" style="height: 500px;">
										<!-- Nav tabs -->
										<ul class="nav nav-tabs" role="tablist">
											<li role="presentation" class="active"><a id="s11dbChart" href="" ng-click="showChart('s')" aria-controls="home" role="tab" data-toggle="tab">S Parameter</a></li>
											<li role="presentation"><a href="" ng-click="showChart('groupdelay')" aria-controls="profile" role="tab" data-toggle="tab">Group Delay</a></li>
										</ul>
	
										<div id="graph-linear-chart" style="display: inline-block; width: 100%; height: 85%">
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="panel panel-primary">
									<div class="panel-body" style="height: 500px; overflow: auto;">
										<div class="row">
											<div class="col-sm-2">
												<div class="radio">
													<label>
														<input type="radio" id="select-matrix-display-M" ng-model="data.matrixDisplay" value="M" checked>
														M(i,j)
													</label>
												</div>
											</div>
											<div class="col-sm-2">
												<div class="radio">
													<label>
														<input type="radio" id="select-matrix-display-M" ng-model="data.matrixDisplay" value="C" checked>
														C(i,j)
													</label>
												</div>
											</div>
											<div class="col-sm-2">
												<div class="radio">
													<label>
														<input type="radio" id="select-matrix-display-M" ng-model="data.matrixDisplay" value="K" checked>
														K(i,j)
													</label>
												</div>
											</div>
										</div>

										<div class="row">
											<table class="table table-bordered" style="text-align: center; width: 100%;">
												<thead>
													<tr>
														<th class="label-sm" style="text-align: center;"></th>
														<th class="label-sm" style="text-align: center;" ng-repeat="r in data.targetMatrix track by $index">{{($first || $last)? (($first)? 'S' : 'L') : $index}}</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="r in data.targetMatrix track by $index">
														<td>{{($first || $last)? (($first)? 'S' : 'L') : $index}}</td>
														<td ng-repeat="d in r track by $index">{{(d < 1e-4 && d > -1e-4)? '0' : d.toFixed(3)}}</td>
													</tr>
												</tbody>
											</table>
										</div>										
										
									</div>
								</div>
							</div>
						</div>

						
        </div>
        <!-- /#page-wrapper -->