<div class="container">
  <form name="signinForm" method="post" novalidate class="form-signin">
		<input type="hidden" id="_csrf" name="_csrf" value="5kt2YUYR-dDtOiK78XCsPNnYgQkOaiOBcWWY">
		<h2 class="form-signin-heading">Please sign in</h2>
		<p ng-show="showAlert" class="alert alert-warning">{{errorMsg}}</p>
		<label for="inputEmail" class="sr-only">User name or Email address</label>
		<input type="text" name="inputEmail" placeholder="User name or Email address" required autofocus class="form-control" ng-model="cred.username">
		<span ng-show="signinForm.inputEmail.$error.required && !signinForm.inputEmail.$pristine" class="help-inline">
			Required
			</span>

		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="inputPassword" placeholder="Password" required class="form-control" ng-model="cred.password" ng-keyup="$event.keyCode === 13 && login()">
		<span ng-show="signinForm.inputPassword.$error.required && !signinForm.inputPassword.$pristine" class="help-inline">
			Required
			</span>

		<div class="checkbox"><label><input type="checkbox"  ng-model="cred.rememberMe">Remember me</label></div>
		<button type="button" ng-click="login()" ng-disabled="signinForm.$invalid" class="btn btn-lg btn-primary btn-block">Sign in</button><br>
		<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" class="col-md-12 control">Don't have an account! <a href="#/signup">Sign Up Here</a></div>
  </form>
</div>
