
    <!-- Message Sidebar -->
    <div class="page-aside">
      <div class="page-aside-switch">
        <i class="icon wb-chevron-left" aria-hidden="true"></i>
        <i class="icon wb-chevron-right" aria-hidden="true"></i>
      </div>
      <div class="page-aside-inner">
        <div class="input-search">
          <button class="input-search-btn" type="submit">
            <i class="icon wb-search" aria-hidden="true"></i>
          </button>
          <form>
            <input class="form-control" type="text" placeholder="Search Keyword" name="">
          </form>
        </div>

        <div class="app-message-list" data-plugin="pageAsideScroll" style="position: relative;">
          <div data-role="container" style="height: 100%; overflow-y: scroll;">
            <div data-role="content">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <a class="avatar avatar-online" href="javascript:void(0)">
                        <img class="img-responsive" src="../../../global/portraits/1.jpg"
                        alt="..."><i></i></a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Kerem Sure</h4>
                      <span class="media-time">15 sec ago</span>
                    </div>
                    <div class="media-right" style="padding-left: 5px;">
                      <span class="badge badge-danger">3</span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <a class="avatar avatar-online" href="javascript:void(0)">
                        <img class="img-responsive" src="../../../global/portraits/2.jpg"
                        alt="..."><i></i></a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Eric Hoffman</h4>
                      <span class="media-time">1 minutes ago</span>
                    </div>
                    <div class="media-right">
                      <span class="badge badge-danger"></span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <a class="avatar avatar-online" href="javascript:void(0)">
                        <img class="img-responsive" src="../../../global/portraits/3.jpg"
                        alt="..."><i></i></a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Eddie Lobanovskiy</h4>
                      <span class="media-time">5 minutes ago</span>
                    </div>
                    <div class="media-right">
                      <span class="badge badge-danger"></span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <a class="avatar avatar-online" href="javascript:void(0)">
                        <img class="img-responsive" src="../../../global/portraits/4.jpg"
                        alt="..."><i></i></a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Bill S Kenney</h4>
                      <span class="media-time">15 minutes ago</span>
                    </div>
                    <div class="media-right" style="padding-left: 5px;">
                      <span class="badge badge-danger">5</span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item active">
                  <div class="media">
                    <div class="media-left">
                      <a class="avatar avatar-away" href="javascript:void(0)">
                        <img class="img-responsive" src="../../../global/portraits/5.jpg"
                        alt="..."><i></i></a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Derek Bradley</h4>
                      <span class="media-time">40 minutes ago</span>
                    </div>
                    <div class="media-right">
                      <span class="badge badge-danger"></span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <a class="avatar avatar-away" href="javascript:void(0)">
                        <img class="img-responsive" src="../../../global/portraits/6.jpg"
                        alt="..."><i></i></a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Mariusz Ciesla</h4>
                      <span class="media-time">2 hours ago</span>
                    </div>
                    <div class="media-right">
                      <span class="badge badge-danger"></span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <a class="avatar avatar-online" href="javascript:void(0)">
                        <img class="img-responsive" src="../../../global/portraits/7.jpg"
                        alt="..."><i></i></a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Jesse Dodds</h4>
                      <span class="media-time">3 hours ago</span>
                    </div>
                    <div class="media-right">
                      <span class="badge badge-danger"></span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <a class="avatar avatar-off" href="javascript:void(0)">
                        <img class="img-responsive" src="../../../global/portraits/8.jpg"
                        alt="..."><i></i></a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Gerren Lamson</h4>
                      <span class="media-time">3 hours ago</span>
                    </div>
                    <div class="media-right">
                      <span class="badge badge-danger"></span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <a class="avatar avatar-off" href="javascript:void(0)">
                        <img class="img-responsive" src="../../../global/portraits/9.jpg"
                        alt="..."><i></i></a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Daniel Waldron</h4>
                      <span class="media-time">5 hours ago</span>
                    </div>
                    <div class="media-right">
                      <span class="badge badge-danger"></span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <a class="avatar avatar-off" href="javascript:void(0)">
                        <img class="img-responsive" src="../../../global/portraits/10.jpg"
                        alt="..."><i></i></a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Celikovic</h4>
                      <span class="media-time">7 hours ago</span>
                    </div>
                    <div class="media-right">
                      <span class="badge badge-danger"></span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Message Sidebar -->
    <div class="page-main">
      <!-- Chat Box -->
      <div id="messagechats" class="app-message-chats" style="height: calc(100% - 96px);">
        <button type="button" id="historyBtn" class="btn btn-round btn-outline btn-default">History Messages</button>

				<div class="chats">
					<div ng-repeat="message in messageList" ng-class-odd="'chat'" ng-class-even="'chat chat-left'">
            <div class="chat-avatar">
              <a class="avatar" data-toggle="tooltip" href="http://getbootstrapadmin.com/remark/mmenu/apps/message/message.html#" data-placement="{{($even)? 'right' : 'left' }}" title="" data-original-title="">
                <img ng-src="{{($even)? $root.loginUser.avatar : './Message _ Remark Admin Template_files/5.jpg'}}" alt="{{($even)? $root.loginUser.name : 'Edward Fletcher'}}">
              </a>
            </div>
            <div class="chat-body">
              <div class="chat-content">
                <p>
                  {{message.text}}
                </p>
              </div>
            </div>
					</div>
				</div>
			</div>
      <!-- End Chat Box -->

      <!-- Message Input-->
      <form class="app-message-input">
        <div class="message-input">
          <input type="text" class="form-control" rows="1" style="overflow: hidden; word-wrap: break-word; height: 36px;" ng-model="currentMsg" ng-keyup="$event.keyCode === 13 && sendMessage()"></input>
          <div class="message-input-actions btn-group">
            <button class="btn btn-pure btn-icon btn-default" type="button">
              <i class="icon wb-emoticon" aria-hidden="true"></i>
            </button>
            <button class="btn btn-pure btn-icon btn-default" type="button">
              <i class="icon wb-image" aria-hidden="true"></i>
            </button>
            <button class="btn btn-pure btn-icon btn-default" type="button">
              <i class="icon wb-paperclip" aria-hidden="true"></i>
            </button>
            <input id="messageImage" type="file" name="messageImage">
            <input id="messageFile" type="file" name="messageFile">
          </div>
        </div>
        <button class="message-input-btn btn btn-primary" type="button" ng-click="sendMessage()">SEND</button>
      </form>
      <!-- End Message Input-->

    </div>
